@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;

}

@*
    THIS IS A COMMENT
    ON MULTIPLE LINES
    THIS IS HOW TO ADD COMMENT

*@
<h2 class = "@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>Nobody has rented this movie before.</p>
}
else

{
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>

        }

    </ul>

}


